<p>Find me in app/views/home/index.html.erb</p>

<p>Lo mas importante es la capacidad de un programa es hacer la mayor cantidad de trabajo
posible. Entendiendo las maquinas en el modelo de los tres estados de la informacion, lo mas
importante es la capacidad de un programa de ejecutar la mayor cantidad posible de procesamiento.
</p>

<p>Se pueden escribir instrucciones para un computador</p>
<p>Se pueden escribir informes para personas</p>

<p>Que clase de universo es este.</p>
<p>Tal vez simplemente estoy furioso</p>

<p>Se pueden expresar ideas en formulas. Conocimiento declarativo. Aquello que es. En el conocimiento declarativo, el procesamiento corre por cuenta de las personas</p>
<p>El conocimiento declarativo es la base sobre la que se construye el conocimiento imperativo. El conocimiento de ejecutar acciones y obtener resultados concretos.</p>
<p>Existe nomenclaturas declarativas y nomenclaturas imperativas</p>